[submodule "ANT-L1"]
	path = ANT-L1
	url = https://github.com/KrzysztofT415/ANT-L1
[submodule "ANT-L2"]
	path = ANT-L2
	url = https://github.com/KrzysztofT415/ANT-L2
[submodule "ANT-L3"]
	path = ANT-L3
	url = https://github.com/KrzysztofT415/ANT-L3
[submodule "ANT-L4"]
	path = ANT-L4
	url = https://github.com/KrzysztofT415/ANT-L4